@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

body{
    background-color: rgb(131, 189, 233);
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

* {
    margin: 0;
    padding: 0;
}


#pbox {
    background-color: azure;
    border: 0.5% solid rgb(49, 240, 59);
    width: 86%;
    height: 500%;
    margin: 6.5%;
    border-radius: 2%;
    position: absolute;

}

#head {
    border: 0.4% solid rgb(150, 0, 107);
    width: 70%;
    height: 12%;
    background-color: rgb(240, 86, 10);
    border-radius: 2%;
    position: absolute;
    left: 7.5%;
    top: 3%;
    padding: 1%;
}

h1 {
    font-size: 3%;
    text-align: center;
    margin-bottom: 1%;


}

#p1 {
    font-size: 2%;
    text-align: center;
    font-weight: bold;
}


.LBox {
    border: 0.3% solid black;
    width: 25%;
    height: 38%;
    background-color: aliceblue;
    border-radius: 2%;
    box-shadow: 0.5% 0.5% 2% rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 30%;
    left: 10%;
    


}

.LBox:hover {
    border: 0.3% solid rgb(15, 210, 35);


}

.RBox {
    border: 0.3% solid black;
    width: 25%;
    height: 38%;
    background-color: aliceblue;
    border-radius: 2%;
    box-shadow: 0.5% 0.5% 1% rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 30%;
    right: 10%;
    

}

.RBox:hover {
    border: 0.3% solid rgb(15, 210, 35);


}

.h2 {
    text-align: center;
    font-size: 2%;
    padding: 1%;
}

.img {
    width: 23%;
    margin: 01%;
    
}

.p {
    font-size: 1.2%;

    margin: 1%;
     border: 0.02% solid black;
     width: 20% ;
     height:8% ;
     border-radius: 1%;
     
     overflow: hidden;
     text-overflow: ellipsis;
     background-color: #fff;
     padding: 1%;
}
.p:hover { overflow: auto;
    border: 0.02% solid rgb(15, 210, 35);
}

.logo {
    width: 8%;
}

.logolink {
     display: block;  /* logo link is inline vlock  */
    margin-left: 8%;
    margin-top: %;
  
}
#box3{
    position: absolute;
    top: 75%;
}
#box4{
    position: absolute;
    top: 75%;
}